body{
    margin: 0px;
}

section{
    background-color: tomato;
    color: white;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}
header{
    background-color: tomato;
    color: white;
    padding: 10px;
    margin: 0px;
}

footer{
    background-color: tomato;
    color: white;
    padding: 10px;
}