body {
    margin: 0px;
}

header {
    background-color: rgb(43, 43, 43);
}

header nav{
    display: inline;

}

main section{
    background-color: rgb(43, 43, 43);
    width: 70%;
    border: 1px;
    border-radius: 2em;
    color: white;
    padding: 10px;
    margin: 10px auto;
}


